@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

:root {
  --white: #ffffff;
  --orange: #ffc178;
}

main {
  padding: 0 20rem;
  background-color: #000000;
}

.section-subtitle {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 6px;
  color: var(--orange);
  position: relative;
  padding-left: 9rem;
  margin-bottom: 2.7rem;
}

.section-subtitle::before {
  content: "";
  width: 7.2rem;
  height: 2px;
  background-color: var(--orange);
  position: absolute;
  left: 0;
  top: 50%;
}

.section-title {
  font-size: 6.4rem;
  font-weight: 700;
  color: var(--white);
}

.section-desc {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--white);
  opacity: 0.8;
  padding: 2.7rem 0;
}

.section-link {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--orange);
}
.section-link i {
  margin-left: 9px;
}

/* =========================== HERO =========================== */

.hero {
  width: 100%;
  height: 200vh;
  background: url("../images/hero-bg.png") no-repeat;
  background-size: cover;
  padding: 6.4rem 8.5rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > a {
  color: var(--white);
  font-weight: 700;
  font-size: 2.4rem;
}

.header-nav a {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
  margin-right: 5rem;
}

.header-nav a:last-child {
  margin-right: 0px;
}

.header-search i {
  font-size: 1.3rem;
  color: var(--white);
  opacity: 0.9;
}

.header-search input {
  width: 20rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0.9;
  margin-left: 1.4rem;
}

.header-search input::placeholder {
  color: var(--white);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 19rem;
}

.hero-content h4 {
  color: var(--orange);
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  position: relative;
  padding-left: 9rem;
}

.hero-content h4::before {
  content: "";
  position: absolute;
  width: 7.2rem;
  height: 2px;
  background-color: var(--orange);
  left: 0;
  top: 50%;
}

.hero-content h1 {
  font-size: 9.6rem;
  color: var(--white);
  font-weight: 700;
}

.hero-content button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 12.6rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-content button i {
  margin-left: 0.9rem;
}

.hero-content_contact {
  position: absolute;
  left: 8.5rem;
}

.hero-content_contact p {
  transform: rotate(90deg);
  position: relative;
  left: -3rem;
  bottom: 5rem;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--white);
}

.hero-content_contact div {
  display: flex;
  flex-direction: column;
}

.hero-content_contact i {
  font-size: 2.4rem;
  color: var(--white);
  margin-bottom: 2rem;
}

.hero-content_contact i:last-child {
  margin-bottom: 0;
}

/* =========================== INTRO =========================== */

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  align-items: center;
}

.intro-img img {
  max-width: 598px;
  height: 720px;
}

/* =========================== BROMO =========================== */

.bromo {
  height: 98.5rem;
  background: url("../images/bromo-img.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 25rem 0;
  position: relative;
}

.fa-chevron-right,
.fa-chevron-left {
  font-size: 3rem;
  color: var(--white);
  position: absolute;
  top: 50%;
}

.fa-chevron-left {
  left: 4.9rem;
}

.fa-chevron-right {
  right: 4.9rem;
}

.bromo-info {
  text-align: center;
  margin-bottom: 4.1rem;
}

.bromo-info .section-subtitle {
  display: inline-block;
  padding-right: 9rem;
  text-transform: uppercase;
}

.bromo-info .section-subtitle::after {
  content: "";
  width: 7.2rem;
  height: 2px;
  background-color: var(--orange);
  position: absolute;
  right: 0;
  top: 50%;
}

.bromo-info .section-title {
  max-width: 70.5rem;
  text-align: center;
  margin-inline: auto;
}

.bromo-info .section-desc {
  max-width: 94.3rem;
  text-align: center;
}

.bromo-info .section-link {
  text-align: center;
}

/* =========================== CULTURE =========================== */

.culture {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.culture-info h2 {
  width: 555px;
}

.culture-info p {
  width: 632px;
}

.culture-img img {
  width: 578px;
  height: 720px;
}

/* =========================== FOOTER =========================== */

.footer {
  padding: 25rem 0 5rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top > a {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--white);
}

.footer-top_btns a {
  font-weight: 400;
  font-size: 2.2rem;
  color: var(--white);
}

.footer-top_btns button {
  padding: 2.4rem 6.9rem;
  background-color: #ffa343;
  color: #000000;
  font-weight: 700;
  font-size: 1.7rem;
  border: none;
  border-radius: 0.8rem;
  margin-left: 5.5rem;
}

.footer-middle {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10rem;
  margin: 5rem 0;
}

.footer-middle_col h2 {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--white);
}

.footer-middle_col form {
  display: flex;
  align-items: center;
}

.footer-middle_col form input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white);
  outline: none;
  padding: 2rem 0;
  color: var(--white);
  font-size: 1.8rem;
}

.footer-middle_col form button {
  width: 6.9rem;
  height: 6.9rem;
  background-color: #ffa343;
  border: none;
  border-radius: 0.8rem 0.8rem 0 0;
}

.footer-middle_col p {
  font-size: 1.9rem;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 4.5rem;
}

.footer-middle_col p.active {
  color: var(--orange);
  font-size: 2rem;
  font-weight: 700;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom div {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.footer-bottom div p {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--white);
}
